# **Function**

In [1]:
print("pakistan")
print("zindabad")   #ctr+shift+spaceBar to check funtion sigsnature  #print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

pakistan
zindabad

In [2]:
print("pakistan","zindabad")
print("pakistan","zindabad", sep="#",end="")
print("pakistan","zindabad")

pakistan zindabad
pakistan#zindabadpakistan zindabad

# **Veriable**

In [3]:
a=10 # a is identifier  = is assignment and 10 is data

# **Operators**

In [4]:
 # +,-,*,/

In [5]:
a=10
d=2
b=2.5
c=a+b
e=a+d
print(c)   # if one value is floating point anss will be floating
print(e)
print(a/d) # it always give floating point division by default
print(a//d) # // give integer division

12.5
12
5.0
5

# **if elif else**

In [6]:
a=10
b=20

if a<b:
  print("its correct")  #if condition is true this block will execute
print("hello")          #if the block is not indent it always execute either condition is true or false

its correct
hello

**bold text**# **Input**

In [7]:
a=input("write any number: ")
print(a)
type(a)    # give string output

write any number: 4
4

str

# **List**

In [8]:
a=[12,32,"book"] # bunch of values in a single variable, it is mutable and changeable
print(a)

[12, 32, 'book']

In [9]:
a[1] # access value from the list

32

In [10]:
len(a) # to check the memberse or values

3

### Adding a member to list

In [11]:
listOfFruits=[]
listOfFruits.append("apple")# append add members in the end
listOfFruits

['apple']

In [12]:
listOfFruits.insert(0,"mango") #add member in the list, also need index value (where to insert the member in the list)
listOfFruits

['mango', 'apple']

In [13]:
listOfFruits.extend(["banana","cherry","banana"]) # work same like append but it add more then one value. append can add only one value
listOfFruits

['mango', 'apple', 'banana', 'cherry', 'banana']

In [14]:
listOfFruits.count("banana") #count he accurance of the value

2

### searching/finding value from list

In [15]:
print(listOfFruits.index("cherry")) #return the index of value

print("cherry" in listOfFruits) #it return boolean value

3
True

In [16]:
listOfFruits.clear() #Remove all items from list
listOfFruits

[]

In [17]:
fruitsA=["banana","cherry","banana"]
fruitsA

['banana', 'cherry', 'banana']

In [18]:
fruitsB=fruitsA.copy()    #copy by value (changing in a new list will not affect on origional list)
fruitsB

['banana', 'cherry', 'banana']

In [19]:
fruitsB.append("newfruit")
print(fruitsB)
print(fruitsA)

['banana', 'cherry', 'banana', 'newfruit']
['banana', 'cherry', 'banana']

In [20]:
fruitsC=fruitsA
fruitsC.append("newXfruit")  #copy by reference(changing in a new list will  affect on origional list)
fruitsA

['banana', 'cherry', 'banana', 'newXfruit']

### remove value from list {del, remove}

In [21]:
del fruitsA[0] # remove by index
fruitsA

['cherry', 'banana', 'newXfruit']

In [22]:
fruitsA.remove("newXfruit")
fruitsA  # remove by value name

['cherry', 'banana']

In [23]:
cities=["khi","lahor","multan","quetta"]

###pop

In [24]:
popcities=cities.pop()
print(f"this city is pop from list: {popcities}")  # bydefault pop remove value from the end of list
print(f"this cities are remaining in the list: {cities}")

this city is pop from list: quetta
this cities are remaining in the list: ['khi', 'lahor', 'multan']

In [25]:
popbyindex=cities.pop(0)
print(f"this city is pop from list: {popbyindex}")  # we can pop value using index also and return it
print(f"this cities are remaining in the list: {cities}")

this city is pop from list: khi
this cities are remaining in the list: ['lahor', 'multan']

In [26]:
cities.sort() #sort in assending order
cities

['lahor', 'multan']

In [27]:
cities.sort(reverse=True)
cities

['multan', 'lahor']

In [28]:
cities.reverse() #just reverse the value from the list
cities

['lahor', 'multan']

# slicing

In [29]:
students=["name1","name2","name3","name4"]

In [30]:
students[1:3] #here 1 is inclusive and 3 is exclusive

['name2', 'name3']

In [31]:
students[-2] #is called negative indexing

'name3'

In [32]:
students[-4:-1]

['name1', 'name2', 'name3']

In [33]:
students[:]

['name1', 'name2', 'name3', 'name4']

In [34]:
students[1:]

['name2', 'name3', 'name4']

In [35]:
students[:-1]

['name1', 'name2', 'name3']

In [36]:
students[2:-3]  #it give empty list bcause it always run left to right

[]

In [37]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]

In [38]:
numbers[0:12:2] #here 2 is step

[1, 3, 5, 7, 9, 11]

# **Touple**

###Touple are just like list but only difference is touples are immutable. you can not add, delete or change the elements after creation of touple instance. we can just use it

In [39]:
Atuple=("hashim",100,"raza")

In [40]:
Atuple[1]
# del Atuple[2] it will not delete the value of tuple

100

In [41]:
Atuple.index("raza")

2

In [42]:
Atuple.count("hashim")

1

In [43]:
len(Atuple)

3

In [44]:
a=12,32,"ali" # we can also make tuple like this

In [45]:
a

(12, 32, 'ali')

# **For loops**

### There are two loops in python for loops and while loops


*   use for repeted task

In [46]:
for a in range(5):
  print(a, "pak")

0 pak
1 pak
2 pak
3 pak
4 pak

In [47]:
for a in range(2,10):
  print(a)

2
3
4
5
6
7
8
9

In [48]:
for a in range(2,10,2):
  print(a)

2
4
6
8

In [49]:
for a in range(10,0,-2):
  print(a)

10
8
6
4
2

In [50]:
cities=["khi","lahor","multan","quetta"]
for city in cities:
  print(city)

khi
lahor
multan
quetta

In [51]:
for num in [12,32,43,54,64,5,"apple"]:
  print(num)

12
32
43
54
64
5
apple

In [52]:
name="pakistan"
for char in name:
  print(char)

p
a
k
i
s
t
a
n

In [53]:
name="pakistan","iran"
for char in name:
  print(char)

pakistan
iran

###**break and continue**

In [54]:
for a in range(0,10):
  if a==6:          #it will break when a will be 6
    break
  print(a)

0
1
2
3
4
5

In [55]:
for a in range(0,10):
  if a==5:    # here 5 will not be print
    continue
  print(a)

0
1
2
3
4
6
7
8
9

#**Nested for loop**

In [56]:
for a in range(5):
  print("inner loop begins")
  for char in "china":
    print(a,char)

inner loop begins
0 c
0 h
0 i
0 n
0 a
inner loop begins
1 c
1 h
1 i
1 n
1 a
inner loop begins
2 c
2 h
2 i
2 n
2 a
inner loop begins
3 c
3 h
3 i
3 n
3 a
inner loop begins
4 c
4 h
4 i
4 n
4 a

In [57]:
table=int(input("input table number: "))

for a in range(11):
  print(f"{table} * {a} = {table*a}")

input table number: 5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [58]:
tableRange=int(input("input table range"))

for a in range(2,tableRange+1):
  for b in range(1,11):
    print(f"{a} * {b} ={a*b}")

input table range6
2 * 1 =2
2 * 2 =4
2 * 3 =6
2 * 4 =8
2 * 5 =10
2 * 6 =12
2 * 7 =14
2 * 8 =16
2 * 9 =18
2 * 10 =20
3 * 1 =3
3 * 2 =6
3 * 3 =9
3 * 4 =12
3 * 5 =15
3 * 6 =18
3 * 7 =21
3 * 8 =24
3 * 9 =27
3 * 10 =30
4 * 1 =4
4 * 2 =8
4 * 3 =12
4 * 4 =16
4 * 5 =20
4 * 6 =24
4 * 7 =28
4 * 8 =32
4 * 9 =36
4 * 10 =40
5 * 1 =5
5 * 2 =10
5 * 3 =15
5 * 4 =20
5 * 5 =25
5 * 6 =30
5 * 7 =35
5 * 8 =40
5 * 9 =45
5 * 10 =50
6 * 1 =6
6 * 2 =12
6 * 3 =18
6 * 4 =24
6 * 5 =30
6 * 6 =36
6 * 7 =42
6 * 8 =48
6 * 9 =54
6 * 10 =60

#**Type casting**

In [59]:
number=float(input("enter number"))
type(number)

enter number7

float

#### **Changing case of string**

In [60]:
name="pakistan"
print(name.upper())
print(name.lower())

PAKISTAN
pakistan

#**Dictionaries**


*   key value pair
*   data types of key can be string, int, float and data type of value can be string, int, float, list, dictionary


*   dictName={key:value,key:value}

In [61]:
myDict={"name":"hashim","age":23,"gender":"male"}

In [62]:
len(myDict)

3

adding a new key ro existing dictionary

In [63]:
myDict["email"]="hashim@gmail.com"

In [64]:
myDict

{'name': 'hashim', 'age': 23, 'gender': 'male', 'email': 'hashim@gmail.com'}

accessing info from dictionary

In [65]:
myDict["name"]

'hashim'

In [66]:
newDic={1:"ali",2:"raza"} #key can be string or number
print(newDic[1])
print(newDic[2])

ali
raza

# deleting a key

In [67]:
del newDic[1]
newDic

{2: 'raza'}

updating a new dictionary

In [68]:
myDict["name"]="ali"
myDict

{'name': 'ali', 'age': 23, 'gender': 'male', 'email': 'hashim@gmail.com'}

value of same key will be over write

In [69]:
newDicA={"name":"hashim","name":"ali","class":14}

In [70]:
newDicA

{'name': 'ali', 'class': 14}

to check key

In [71]:
"name" in newDicA

True


iterating over  info from dictionary


 for key in newdicA.keys():
              #print(key)

   for value in newdicA.values():
            print(value)

   for key,value in newdicA.items():
            print(key,value)

In [72]:
newDicx={"name":"hashim","fname":"ali","class":14}

In [73]:
for key in newDicA.keys():
    print(key)

name
class

In [74]:
for value in newDicA.values():
    print(value)

ali
14

In [75]:
for key,value in newDicA.items():
    print(key,value)

name ali
class 14

In [76]:
newDicx

{'name': 'hashim', 'fname': 'ali', 'class': 14}

# List of dictionary

In [79]:
listDict=[{'name': 'sajjad', 'fname': 'Ausman', 'class': "metric"},{'name': 'Raza', 'fname': 'Mohsin', 'class': 'inter'}]

In [80]:
listDict

[{'name': 'sajjad', 'fname': 'Ausman', 'class': 'metric'},
 {'name': 'Raza', 'fname': 'Mohsin', 'class': 'inter'}]

In [91]:
listDict[1]["name"]

'Raza'

In [95]:
for list in listDict:
    print(list)

{'name': 'sajjad', 'fname': 'Ausman', 'class': 'metric'}
{'name': 'Raza', 'fname': 'Mohsin', 'class': 'inter'}

In [98]:
for key in listDict[0].keys():
    print(key)

name
fname
class

# dictionary of lists

In [119]:
DictList={'name': ['sajjad', 'Ausman', "ali", "hamza"],'fathername': ['Raza', 'sara', 'Mohsin', 'zainab', 'rehman']}

In [120]:
DictList

{'name': ['sajjad', 'Ausman', 'ali', 'hamza'],
 'fathername': ['Raza', 'sara', 'Mohsin', 'zainab', 'rehman']}

In [121]:
DictList["name"]

['sajjad', 'Ausman', 'ali', 'hamza']

In [124]:
for key,value in DictList.items():
    print(key,value)

name ['sajjad', 'Ausman', 'ali', 'hamza']
fathername ['Raza', 'sara', 'Mohsin', 'zainab', 'rehman']

In [125]:
student_records = {
    'student1': {
        'name': 'Sajjad',
        'age': 20,
        'grade': 'A'
    },
    'student2': {
        'name': 'Raza',
        'age': 22,
        'grade': 'B'
    },
    'student3': {
        'name': 'Ali',
        'age': 19,
        'grade': 'A'
    }
}

In [126]:
student_records

{'student1': {'name': 'Sajjad', 'age': 20, 'grade': 'A'},
 'student2': {'name': 'Raza', 'age': 22, 'grade': 'B'},
 'student3': {'name': 'Ali', 'age': 19, 'grade': 'A'}}

In [127]:
student_records["student1"]

{'name': 'Sajjad', 'age': 20, 'grade': 'A'}

In [130]:
student_records["student1"]["grade"]

'A'

In [129]:
for key in student_records.keys():
    print(key)

student1
student2
student3

# Functions

To achieve reusablility and modularity we use functions

In [131]:
#def functionName():
 #       body
  #   print()

In [132]:
def add():
    print(2+3)

In [134]:
add()   #we need to call funtion

5

# passing information positional arguments

Fist argument assign in fist parameter and second argument assign in second parameter, therefor we called positional arguments

Parameter : use in function defination

Prguments: value pass

In [136]:
def addA(num1,num2):    #Parameter
    print(num1+num2)

In [137]:
addA(2,4)

6

## parameterless funtion

always give same output

In [138]:
def add():
    print(2+3)     #arguments

In [139]:
add()

5

## parameterised funtion

its output depent on input

In [140]:
def addA(num1,num2):
    print(num1+num2)

In [141]:
addA(23,32)

55

# positional argument

In [155]:
def name(fName,mName,lName):
    print(fName+mName+lName)

In [156]:
name("muhammad","hashim","shabbir")

muhammadhashimshabbir

# keyword argument

In [157]:
name(fName="muhammad",lName="shabbir",mName="hashim")

muhammadhashimshabbir

In [158]:
name("muhammad",lName="shabbir",mName="hashim")

muhammadhashimshabbir

In [166]:
name(lName="muhammad","shabbir","hashim") #keyword argument always be used in last

SyntaxError: positional argument follows keyword argument (3023656248.py, line 1)

## default value parameter

In [172]:
def  defaultValuename(fName,lName,mName=""):    #default parameter always be in last
    print(fName+mName+lName)

In [173]:
defaultValuename("hashim","shabbir")

hashimshabbir

In [174]:
defaultValuename("muhammad","hashim","shabbir")

muhammadshabbirhashim

## Dealing with unknow number of arguments

#####  parameter with *, deal with arbitrary number

In [185]:
def player(sport,house,*name):
    print(f"{house} house {sport} team members are {name}")

In [186]:
player("kockey","blue")

blue house kockey team members are ()

In [187]:
player("kockey","blue","raza","shahid")

blue house kockey team members are ('raza', 'shahid')

# passing information back

In [192]:
def returnfun (num1,num2):
    ans= num1+num2
    return ans

In [193]:
a= returnfun(2,3)

In [194]:
print(a)

5

In [196]:
def returnMulValue (num1,num2):
    ans= num1+num2
    return ans, "pakistan"

In [197]:
returnMulValue(4,1)

(5, 'pakistan')

In [198]:
returnfun(32,32)

64

In [200]:
def returnMulValuex (num1,num2):
    ans= num1+num2
    return ans, "pakistan"
    print("hello")   #it will not be execute

In [201]:
returnMulValuex(232,32)

(264, 'pakistan')

# using funtion as variable

In [206]:
def add1(a,b):
    return a+b


def sub(b,a):
    return b-a 

result=add1(6,3)+sub(4,2)

In [207]:
result

11

# local variable and global variable

local variable -> scope is only inside a function

global variable -> scope is in and out of the function

In [210]:
def happy():
    name="mr A"    #local variable
    print(f"{name} is happy")

In [211]:
happy()

mr A is happy

In [217]:
nameb="mr b"    #global variable
def sad():
    print(f"{nameb} is sad")

In [218]:
sad()

mr b is sad

In [221]:
nameb  #showing result bcz of global variable

'mr b'

In [222]:
name #not showing bcz of local variable

# Function with in Function

In [224]:
def commissioncal(sales):
    if sales>100:
        return sales*100
    elif sales>70:
        return sales*70
    elif sales>50:
        return sales*50
    else: 
        return sales*0

def salarycalc(salary,sales):
    grossSlary=salary+commissioncal(sales)
    print(f"your salary is {grossSlary}")

In [ ]:
salarycalc(10000,100)

# while loop
#### it allows user to terminate loop by setting flags

In [5]:
a=0
while a<10:
    print(a,"while loop")
    a+=1

0 while loop
1 while loop
2 while loop
3 while loop
4 while loop
5 while loop
6 while loop
7 while loop
8 while loop
9 while loop

# flag setting

In [2]:
flag=True
favfoods=[]
while flag:
    userinput=input("enter your favourite foods")
    if userinput=="q":
        flag=False
    else:
        favfoods.append(userinput)

enter your favourite foodsbiryani
enter your favourite foodsdalchawal
enter your favourite foodshaleem
enter your favourite foodskhrai
enter your favourite foodsq

In [4]:
favfoods

['biryani', 'dalchawal', 'haleem', 'khrai']

# class

### object oriented programming: almost all thing in python class base
#### class name should be start with capital latter

#### class may hold attribute (variables) like name, age, etc
#### class may hold behabiours (funtion) like walt, eat, speak etc 

#### class car():
            #### define a class body
            #### attribute and behabiours
#### creating a  instance/objects  of car class

  example: car1=car()
  
          car2=car()

In [46]:
class Car():
    ## defining attribute (veriable)
    def __init__(self, make,model,year):
        
        #self make individual copy for all attributes and behaviours
        self.make=make
        self.model=model
        self.year=year
        self.battery="200 amp" # defaul attributes
        
    ## behaviours (function)
    def description(self):
        print(f"the make of car is: {self.make}")
        print(f"the model of car is: {self.model}")
        print(f"the year of car is: {self.year}")
        
    def move(self):
        print(f"the {self.make} is moving with speed")
        
    def applyingBreak(self):
        print(f"the {self.make} has applied break")  
        
    def descBattery(self):
        print(f"the battery of car is {self.battery}")
    
    def setbatterysize(self,newsize):
        self.battery=newsize
        
    def getbatterysize(self):
        print(f"the size of your car battery is {self.battery}")

In [47]:
# object of car
car1=Car("Honda","civic",2019)
car2=Car("Suzuki","cultus",2015)

In [48]:
car1.make

'Honda'

In [49]:
car2.make

'Suzuki'

In [50]:
car1.move()

the Honda is moving with speed

In [51]:
car2.move()

the Suzuki is moving with speed

## changing an attributes value

1) direct hit the attribute

2) via function (get set)

In [52]:
car2.make="yamaha"

In [53]:
car2.make

'yamaha'

In [54]:
car1.battery

'200 amp'

In [55]:
car1.battery="300 amp"

In [56]:
car1.battery

'300 amp'

In [57]:
car2.battery

'200 amp'

In [58]:
car1.getbatterysize()

the size of your car battery is 300 amp

In [59]:
car2.getbatterysize()

the size of your car battery is 200 amp

In [61]:
car1.setbatterysize("500amp")

In [62]:
car1.getbatterysize()

the size of your car battery is 500amp

# Data file

#### to save permanent data

reading and writting in an external from python code.

we can write in a text file using python function:

with open("fileName","mode")
there are three mode
1) read
2) write
3) append

#### writing to a text file

with open("fileName","w") as file:

    file.write("this is my file") 
    
    
note: if file does not exist "w" mode will create and write in it

#### read from  a text file

with open("fileName","r") as file:

    content_of_file=file.read()
    
print(content_of_file)    
    
    
note: if file does not exist it will throw an error

#### write a file in append mode

with open("fileName","a") as file:

    file.write("this is my file in append mode") 
    
    
note: in "w" mode if we write in a same file all previous work will be overwrite. but append mode allow to write further.

r+ mode allows read and write both in files

w+ mode allows read and write both in files, only the difference is in w+ file will be create but in r+ mode file will not be create it show an error file not found

In [71]:
with open("first.txt","r") as file:
    content=file.read()
print(content)

hello

In [72]:
with open("first.txt","w") as file:
    file.write("world")

In [73]:
with open("first.txt","r") as file:
    content=file.read()
print(content)

world

In [76]:
with open("first1.txt","w") as file:
    file.write("pakistan")

In [77]:
with open("first1.txt","r") as file:
    content=file.read()
print(content)

pakistan

In [79]:
with open("first.txt","a") as file:
    file.write("zindabad")

In [82]:
with open("first.txt" ,"r") as file:
    content=file.read()
print(content)

worldzindabad

In [90]:
with open("first1.txt", "w+") as file:
    file.write("this is first text")
    file.seek(0)
    print(file.read())

this is first text

In [92]:
with open("firstx.txt", "w+") as file:
    file.write("this is first x")
    file.seek(0)
    print(file.read())

this is first x

In [94]:
with open("firsty.txt", "r+") as file:
    file.write("this is first y")
    file.seek(0)
    print(file.read())

FileNotFoundError: [Errno 2] No such file or directory: 'firsty.txt'

# Modules

you can store classes, functions and more in modules. Mostly modules are used to store functions.

we save the file name with .py and call by %load maths.py . 

write a function once, call it from any python program

use a code written by other people by importing their modules

In [ ]:
# %load maths.py
def sum(a,b):
    return(a+b)

def mul(a,b):
    return(a*b)

def sub(a,b):
    return(a-b)

In [99]:
import maths as m

In [100]:
m.mul(2,3)

6

In [101]:
m.sub(4,2)

2

In [102]:
m.sum(3,2)

5

# CSV files

csv stand for comma separated values

its a simplified version of spreadsheet or database

we can read write and append, by default it will be read

In [104]:
import csv

with open("data.csv") as file:
    content=csv.reader(file)
    for data in content:
        print(data)

['year', 'Event', 'Winner']
['1992', 'best-kept lawn', 'none']
['2019', 'world cup', 'burkina faso']

In [108]:
with open("xyz.csv","w",newline="") as file:
    fileWriter=csv.writer(file)
    fileWriter.writerow(["name","class","secton"])
    fileWriter.writerow(["sajjad","5th","A"])
    fileWriter.writerow(["Ali","9th","d"])
    fileWriter.writerow(["nasir","4","b"])

In [109]:
with open("xyz.csv") as file:
    fileReader=csv.reader(file)
    for data in fileReader:
        print(data)

['name', 'class', 'secton']
['sajjad', '5th', 'A']
['Ali', '9th', 'd']
['nasir', '4', 'b']

# json

in json we use dump to write and load to read

In [110]:
import json

In [112]:
with open("abc.json","w") as file:
    json.dump(["ali",212,2342,232,42],file)

In [113]:
with open("abc.json","r") as file:
    loadData=json.load(file)
    print(loadData)

['ali', 212, 2342, 232, 42]

In [114]:
#writing data in dictionary form

In [118]:
myDic={"firstName":"ali","class":5,"section":"c"}

In [119]:
with open("mydic.json","w") as f:
    json.dump(myDic,f)

In [120]:
with open("mydic.json","r") as f:
    loadData=json.load(f)
    print(loadData)

{'firstName': 'ali', 'class': 5, 'section': 'c'}

# Exceptions

Exceptions are run time error

when user enter wrong value.

python uses special objects called exceptions to manage errors that arise during programs executions.

whenever error occurs python creates an exception object

it handle with try -except blocks

In [126]:
try:
    5/0
except:
    print("Exception caught")
else:
    print("no exception")
finally:
    print("hello")  # finally will always run

Exception caught
hello

multiline string

In [4]:
name : str = "hashim"
fname: str = "shabbbir"
education: str = "bs cs"
age: int = 21

In [9]:
#here we use f string

card : str = f'''               
student name: {name}
student fnmae: {fname}
student education: {education}
student age: {age}

'''
print(card)

student name: hashim
student fnmae: shabbbir
student education: bs cs
student age: 21

## Fstring and Jinja style

In [12]:
f"""
studen name: {name}
"""

'\nstuden name: hashim\n'

In [13]:
# jinja
f"""
studen name: {{name}}
"""

'\nstuden name: {name}\n'

In [14]:
# using placeholder

card : str = f'''               
student name: %s
student fnmae: %s
student education: %s
student age: %d
''' %(name,fname,education,age)
print(card)

student name: hashim
student fnmae: shabbbir
student education: bs cs
student age: 21

In [15]:
a:int = 4
b:int = 5

"pakistan value a {} and value b {}".format(a,b)

'pakistan value a 4 and value b 5'

In [18]:
card : str = '''               
student name: {1}
student fnmae: {2}
student education: {2}
student age: {3}

'''.format(fname,name,education,age)
print(card)

student name: hashim
student fnmae: bs cs
student education: bs cs
student age: 21

In [19]:
card : str = '''               
student name: {b}
student fnmae: {a}
student education: {c}
student age: {d}

'''.format(a=fname,b=name,c=education,d=age)
print(card)

student name: hashim
student fnmae: shabbbir
student education: bs cs
student age: 21

In [20]:
student_code: str ="""
print("my name is hashim")
a : int = 2
b : int = 4
print(a+b)
"""

exec(student_code)

my name is hashim
6

In [28]:
s_name:str="           muhammad   hashim       "

print(s_name)
print(s_name.strip())
print(s_name.rstrip())

           muhammad   hashim
muhammad   hashim
           muhammad   hashim

In [33]:
import re
name : str ="   muhammad    hashim      "
display(name)


             #re.sub(pattern,replacement,variableName)    
name1 :str = re.sub(" {2,100}"," ",name)
display(name1)

'   muhammad    hashim      '

'muhammadhashim'